.header-left {
    float: left;
    padding: 20px;
    color: white;
}

.header-right {
    float: right;
    padding: 20px;
    color: white;
}

.headerImg{
    max-width: 200px;
    border-radius: 25%;
}